/* General Styles */

body {
  padding-top: 100px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

nav {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.bg-dark {
  background-color: #58833C !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-brand > img {
  max-height: 75px
}

.jumbotron {
  background: none
}

.image-text-container {
  position: relative;
}

.card {
  border-radius: 0px!important; 
  border: none!important;
}

.grid-container-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);;
  padding: 20px;
  grid-gap: 20px;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  grid-gap: 20px;
}

.container-fluid a {
  text-decoration: none;
  color: #000000;
}

.container-fluid a:hover {
  text-decoration: none;
  color: #000000;
}

form .btn-light {
  text-decoration: none;
  color: #000000;
}

form .btn-light:hover {
  text-decoration: none;
  color: #000000;
}

.card-body {
  padding: 1.25rem 1.25rem 0.50rem 1.25rem;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0px 2px 3px #000000;
}

.card-image {
  width: 100%; 
  height: 15vw; 
  object-fit: cover;
}

.card-text {
  color: black;
}

img[alt="www.000webhost.com"] {
  display: none;
}

.btn {
  vertical-align: baseline;
}

#contactForm .form-control {
  width: 90%;
}

#statement {
  font-size: 0.8rem;
}

footer .fa {
  color: white;
  font-size: 18px;
}

footer > .container a {
  color: white;
}

footer > .container a:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

/* Page banners */

.banner-container {
  height: 50vh;
  border-bottom: 2px solid #58833C;
  margin-bottom: 30px;
}

.banner-text-container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-title {
  font-size: 80px;
  color: white;
  text-shadow: 0px 2px 3px #000000;
}

.banner-text {
  font-size: 20px;
  color: white;
  text-shadow: 0px 2px 3px #000000;
}

.intro-text {
  font-size: 1.3rem;
  margin: 2rem 0rem;
}

.homepage-container {
  background: center/cover no-repeat url(../images/banner.png);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

#about-container {
  background: center/cover no-repeat url(../images/about.jpg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

#our-approach-container {
  background: center/cover no-repeat url(../images/our_approach.jpg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

#benefits-container {
  background: center/cover no-repeat url(../images/benefits.jpg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

#join-us-container {
  background: center/cover no-repeat url(../images/join_us_banner.jpg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.contact-container {
  background: center/cover no-repeat url(../images/5.0.Contact_Us.png);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.purpose-container {
  background: center/cover no-repeat url(../images/1.1.Purpose.png);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.farming-container {
  background: center/cover no-repeat url(../images/1.2_Farming_new_banner.jpg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.our-people-container {
  background: center/cover no-repeat url(../images/1.3_People_banner.jpeg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.membership-container {
  background: center/cover no-repeat url(../images/Membership1_banner.jpg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.board-container {
  background: center/cover no-repeat url(../images/1.3.2.0_Board_banner.jpeg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.contractors-container {
  background: center/cover no-repeat url(../images/1.3.3.0.Contractors_banner.jpeg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.volunteers-container {
  background: center/cover no-repeat url(../images/1.3.4.0.Volunteers_banner.jpeg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.documents-container {
  background: center/cover no-repeat url(../images/Documents1.jpg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.board-meetings-container {
  background: center/cover no-repeat url(../images/1.5.Board_Meetings.jpg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.asking-farmers-container {
  background: center/cover no-repeat url(../images/2.1_Asking.jpg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.assisting-farmers-container {
  background: center/cover no-repeat url(../images/2.2_Assisting_banner.jpeg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.connecting-farmers-container {
  background: center/cover no-repeat url(../images/2.3_Connecting2_banner.jpeg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.representing-farmers-container {
  background: center/cover no-repeat url(../images/2.4_Representing.jpg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.sharing-knowledge-with-farmers-container {
  background: center/cover no-repeat url(../images/2.5_Sharing_Knowledge1.jpg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.social-outings-container {
  background: center/cover no-repeat url(../images/Social_Outings1.jpg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.celebrations-container {
  background: center/cover no-repeat url(../images/Celebrations1.jpg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.newsletter-and-mailers-container {
  background: center/cover no-repeat url(../images/Mailbox1.jpg);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.social-media-container {
  background: center/cover no-repeat url(../images/Social\ Media1.png);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

.placeholder-container {
  background: center/cover no-repeat url(../images/placeholder.png);
  background-blend-mode: multiply;
  background-color: rgb(126, 126, 126);
}

/* Thumbnails */

#image-1 {
  background: center/cover no-repeat url(../images/about.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

#image-2 {
  background: center/cover no-repeat url(../images/our_approach.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

#image-3 {
  background: center/cover no-repeat url(../images/benefits.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

#image-4 {
  background: center/cover no-repeat url(../images/join_us.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-5 {
  background: center/cover no-repeat url(../images/1.1.Purpose.png);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-6 {
  background: center/cover no-repeat url(../images/1.2_Farming.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-7 {
  background: center/cover no-repeat url(../images/1.3_People.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-8 {
  background: center/cover no-repeat url(../images/Documents1.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-9 {
  background: center/cover no-repeat url(../images/1.5.Board_Meetings.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-10 {
  background: center/cover no-repeat url(../images/2.1_Asking.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-11 {
  background: center/cover no-repeat url(../images/2.2_Assisting.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-12 {
  background: center/cover no-repeat url(../images/2.3_Connecting2.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-13 {
  background: center/cover no-repeat url(../images/2.4_Representing.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-14 {
  background: center/cover no-repeat url(../images/Membership1.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-15 {
  background: center/cover no-repeat url(../images/1.3.2.0_Board.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-16 {
  background: center/cover no-repeat url(../images/1.3.3.0.Contractors.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-17 {
  background: center/cover no-repeat url(../images/1.3.4.0.Volunteers.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-18 {
  background: center/cover no-repeat url(../images/placeholder.png);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-19 {
  background: center/cover no-repeat url(../images/2.5_Sharing_Knowledge1.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-20 {
  background: center/cover no-repeat url(../images/Social_Outings1.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-21 {
  background: center/cover no-repeat url(../images/Celebrations1.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-22 {
  background: center/cover no-repeat url(../images/Mailbox1.jpg);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

.image-23 {
  background: center/cover no-repeat url(../images/Social\ Media1.png);
  background-blend-mode: multiply;
  background-color: rgb(179, 179, 179);
}

/* Mobile styles */

/* Banners & Images */

@media only screen and (min-device-width : 320px) and (max-device-width: 479px) {
  .banner-container {
    height: 70vw;
  }
  .grid-container-3,
  .grid-container-4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card-image {
    height: 60vw;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 767px){
  .banner-container {
    height: 45vw;
  }
  .grid-container-3,
  .grid-container-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-image {
    height: 35vw;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .banner-container {
    height: 60vw;
  }
  .grid-container-3,
  .grid-container-4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 50px;
  }
  .card-image {
    height: 50vw;
  }
}

@media only screen and (max-device-width: 1023px) {
  #team .col-lg-4 {
    text-align: center;
  }
  #team .col-lg-8 > h4 {
    text-align: center;
    margin: 1rem 0 2rem;
  }
  #join-us-container {
    background: center/cover no-repeat url(../images/join_us.jpg);
    background-blend-mode: multiply;
    background-color: rgb(126, 126, 126);
  }
  .our-people-container {
    background: center/cover no-repeat url(../images/1.3_People.jpg);
    background-blend-mode: multiply;
    background-color: rgb(179, 179, 179);
  }
  .membership-container {
    background: center/cover no-repeat url(../images/Membership1.jpg);
    background-blend-mode: multiply;
    background-color: rgb(126, 126, 126);
  }
  .board-container {
    background: center/cover no-repeat url(../images/1.3.2.0_Board.jpg);
    background-blend-mode: multiply;
    background-color: rgb(126, 126, 126);
  }
  .assisting-farmers-container {
    background: center/cover no-repeat url(../images/2.2_Assisting.jpg);
    background-blend-mode: multiply;
    background-color: rgb(126, 126, 126);
  }
  .connecting-farmers-container {
    background: center/cover no-repeat url(../images/2.3_Connecting2.jpg);
    background-blend-mode: multiply;
    background-color: rgb(126, 126, 126);
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
  .banner-container {
    height: 40vw;
  }
  .grid-container-3,
  .grid-container-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-image {
    height: 30vw;
  }
}

/* Fonts */

@media only screen and (min-device-width : 320px) and (max-device-width: 479px) {
  .banner-title {
    font-size: 3rem;
  }
  .banner-text {
    font-size: 1rem;
  }
  .intro-text{
    font-size: 1rem;
  }
  .btn {
    margin-bottom: 1rem;x
  }
  #statement {
    font-size: 0.6rem;
  }
  footer p {
    font-size: 0.8rem;
  }
}

@media only screen and (min-device-width : 480px) and (max-device-width: 767px) {
  .banner-title {
    font-size: 4rem;
  }
  .banner-text {
    font-size: 1rem;
  }
  .intro-text,
  .card-text,
  .btn {
    font-size: 0.9rem;
  }
  #statement {
    font-size: 0.5rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .banner-title {
    font-size: 6rem;
  }
  .banner-text {
    font-size: 1.5rem;
  }
  .card-title {
    font-size: 3rem;
  }
  .intro-text,
  .card-text,
  .btn {
    font-size: 1.4rem;
  }
  .btn {
    margin-bottom: 1rem;
  }
  #statement {
    font-size: 0.8rem;
  }
  footer p {
    font-size: 0.9rem;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
  .card-title {
    font-size: 2rem;
  }
  .intro-text,
  .card-text,
  .btn {
    font-size: 1rem;
  }
}